@import 'tailwindcss';
@import 'sk-clib/style';

@theme {
	/* Colors */
	--color-primary: #ff7073;
	--color-secondary: #70ff73;
	--color-surface-0: #141212;
	--color-surface-1: #1f1b1b;
	--color-surface-2: #262222;
	--color-accent-0: #473f3f;
}

@layer base {
	html,
	body {
		@apply size-full overflow-y-auto;
		background-color: var(--color-surface-2);
	}
}

/* Documentation Layer, basic structure */
@layer docs {
	header {
		font-size: calc(var(--spacing) * 8);
		color: var(--color-primary);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-gray-400);
		margin-top: calc((var(--spacing) * 5));
	}

	/* Code Blocks */
	pre {
		@apply flex;
		flex-shrink: 0;
		max-height: 20vh;
	}
}
