---
title: 🔧 Usage
order: 0
---

Once installed, you can import and use components like this:

```html
<script>
  import { Header, Text } from 'sk-clib';
</script>

<Header lg bold>Welp... Hi there :)</Header>
<Text size="lg" weight="bold">Hello World</Text>
```